h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
}

.body-XL, .body-LG, .body-MD-regular, .body-MD-medium, .body-SM, input, textarea, .body-XS-medium, .body-XS-regular, .button-XL, .button-LG, .button-SM {
  font-family: "Poppins", sans-serif;
}

body, main, .hero__content, .hero__content__frame, .hero__social, .hero__social__content, .title, .aboutUs, .aboutUs__textBlock, .booking, .booking form, .featuredCars, .featuredCars__item, .featuredCars__content, .featuredCars__information, .services, .services__item, .reviews, .reviews__item, .contactUs, .contactUs__content form, .contactUs__inputs, .footer, header, .header, .header nav, .header__menu, .aboutUs__content, .booking form .row1, .booking form .row2, .booking__content, .booking__item, .featuredCars__list, .featuredCars__specs, .featuredCars__spec, .featuredCars__book, .featuredCars__bullets, .reviews__content, .reviews__list, .stats, .contactUs__content, .footer__contacts, .footer__menu, .footer__social {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

body, main, .hero__content, .hero__content__frame, .hero__social, .hero__social__content, .title, .aboutUs, .aboutUs__textBlock, .booking, .booking form, .featuredCars, .featuredCars__item, .featuredCars__content, .featuredCars__information, .services, .services__item, .reviews, .reviews__item, .contactUs, .contactUs__content form, .contactUs__inputs, .footer {
  flex-direction: column;
}

header, .header, .header nav, .header__menu, .aboutUs__content, .booking form .row1, .booking form .row2, .booking__content, .booking__item, .featuredCars__list, .featuredCars__specs, .featuredCars__spec, .featuredCars__book, .featuredCars__bullets, .reviews__content, .reviews__list, .stats, .contactUs__content, .footer__contacts, .footer__menu, .footer__social {
  flex-direction: row;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #141414;
  transition-duration: 0.75s;
}
a:hover {
  color: #fe8400;
  transition-duration: 0.75s;
}
a:active {
  color: #575757;
}

button {
  cursor: pointer;
  border-radius: 0.25rem;
  border: 1px #c4c4c4;
  background: #fe8400;
  transition-duration: 1s;
}

.--socialIcons {
  transition-duration: 1s;
}
.--socialIcons:hover {
  transition-duration: 1s;
  filter: sepia(120%) contrast(160%);
}

button:hover {
  background: yellow;
  transition-duration: 1s;
}

ul {
  list-style: none;
}

h1 {
  font-size: 3rem;
  line-height: normal;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
  line-height: normal;
  font-weight: 500;
}

h3 {
  font-size: 1.625rem;
  line-height: normal;
  font-weight: 500;
}

h4 {
  font-size: 1.375rem;
  line-height: normal;
  font-weight: 500;
}

h1, h2, h3, h4 {
  color: #141414;
}

.body-XL {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 500;
}

.body-LG {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 400;
}

.body-MD-regular {
  font-size: 1.25rem;
  line-height: normal;
  font-weight: 400;
}

.body-MD-medium {
  font-size: 1.125rem;
  line-height: normal;
  font-weight: 500;
}

.body-SM, input, textarea {
  font-size: 1rem;
  line-height: normal;
  font-weight: 400;
}

.body-XS-medium {
  font-size: 0.9375rem;
  line-height: normal;
  font-weight: 500;
}

.body-XS-regular {
  font-size: 0.9375rem;
  line-height: normal;
  font-weight: 400;
}

.button-XL {
  font-size: 1.5rem;
  line-height: normal;
  font-weight: 400;
}

.button-LG {
  font-size: 1rem;
  line-height: normal;
  font-weight: 400;
}

.button-SM {
  font-size: 0.875rem;
  line-height: normal;
  font-weight: 400;
}

.body-XL, .body-LG, .body-MD-regular, .body-MD-medium, .body-SM, .body-XS-medium, .body-XS-regular, input, textarea {
  color: #575757;
}

.button-XL, .button-LG, .button-SM {
  color: #141414;
}

.logoTitle {
  font-family: Arial Black;
  color: #fe8400;
}

body {
  position: relative;
  overflow-x: hidden;
}

header {
  width: 89.375rem;
  position: relative;
}

.header {
  justify-content: space-between;
  width: 70rem;
  padding-top: 2rem;
}
.header nav {
  justify-content: space-between;
  width: 40.1875rem;
}
.header nav button {
  width: 9.125rem;
  height: 2.5rem;
}
.header__menu {
  justify-content: flex-start;
  gap: 2rem;
  flex: 1 0 0;
  width: 100%;
}
.header:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 42%;
  height: 46.375rem;
  background: #141414;
  z-index: -1;
}

main {
  gap: 5rem;
  width: 89.375rem;
}

.hero {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  height: 46.375rem;
  position: relative;
}
.hero--imgCar {
  position: absolute;
  width: 56.8125rem;
  height: 34.0625rem;
  right: 0rem;
  top: 2rem;
  transition-duration: 1s;
}
.hero--imgCar:hover {
  width: 58rem;
  height: 36rem;
  transition-duration: 1s;
}
.hero__content {
  align-items: flex-start;
  position: absolute;
  left: 10rem;
  top: 4.81rem;
  width: 33rem;
  padding: 2rem 2rem 2rem 0rem;
  gap: 3rem;
  background: rgba(0, 0, 0, 0.15);
}
.hero__content__frame {
  align-items: flex-start;
  gap: 1rem;
}
.hero__content h1 {
  color: #ffffff;
}
.hero__content .body-XL {
  color: rgba(255, 255, 255, 0.85);
}
.hero__content button {
  width: 16rem;
  padding: 0.75rem 1.5rem;
}
.hero__social {
  position: absolute;
  left: 4.5rem;
  top: 11.31rem;
  gap: 1rem;
}
.hero__social__content {
  align-items: flex-start;
  gap: 0.75rem;
}
.hero__social:before, .hero__social:after {
  content: '';
  width: 0.0625rem;
  height: 2.375rem;
  background: #fe8400;
}
.hero__social img {
  width: 1rem;
  height: 1rem;
}
.hero__social button {
  background-color: transparent;
  border: 0px solid #fe8400;
}

.title {
  align-items: flex-start;
  gap: 0.5rem;
  color: #141414;
}
.title::after {
  content: '';
  align-self: stretch;
  height: 2px;
  background-color: #fe8400;
}

.aboutUs {
  width: 71rem;
  gap: 2.5rem;
}
.aboutUs__content {
  align-self: stretch;
  gap: 2rem;
}
.aboutUs__textBlock {
  align-items: flex-start;
  gap: 1.5rem;
}
.aboutUs img {
  width: 34.25rem;
  height: 22.125rem;
  border-radius: 0.25rem;
}
.aboutUs .body-XL:nth-child(2) {
  color: #fe8400;
}

.booking {
  gap: 2.5rem;
}
.booking form {
  width: 89.9375rem;
  height: 18.625rem;
  gap: 2rem;
  background: #ffe4c6;
}
.booking form .row1, .booking form .row2 {
  justify-content: space-between;
  height: 3.75rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background: #fbfbfb;
}
.booking form .row1 {
  width: 20rem;
}
.booking form .row2 {
  width: 13.75rem;
}
.booking form button {
  width: 17rem;
  height: 4.75rem;
}
.booking__content {
  gap: 2.5rem;
}
.booking__item {
  align-items: flex-start;
  gap: 0.25rem;
}

.featuredCars {
  justify-content: flex-start;
  width: 70rem;
  height: 35rem;
  gap: 2.5rem;
}
.featuredCars__list {
  gap: 1.5rem;
  width: 100%;
  height: 75%;
}
.featuredCars__item {
  width: 30%;
  height: 100%;
  margin: 2.5rem 0;
  padding: 0 1.5rem;
  gap: 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid #c4c4c4;
  background: #ffffff;
}
.featuredCars__item img {
  width: 19.96875rem;
  height: 11.4375rem;
  border-radius: 0.208rem;
}
.featuredCars__content {
  align-items: flex-start;
  width: 19.6875rem;
  gap: 2.5rem;
}
.featuredCars__information {
  align-items: flex-start;
  gap: 0.75rem;
}
.featuredCars__specs {
  gap: 1rem;
}
.featuredCars__spec {
  gap: 0.25rem;
}
.featuredCars__spec img {
  width: 1rem;
  height: 1rem;
}
.featuredCars__book {
  justify-content: space-between;
  width: 19.6875rem;
}
.featuredCars__book button {
  width: 6.625rem;
  height: 2.1875rem;
}
.featuredCars__bullets {
  align-items: flex-start;
  gap: 0.5rem;
}

.services {
  position: relative;
}
.services::before {
  content: '';
  position: absolute;
  top: 0px;
  z-index: -1;
  width: 89.9375rem;
  height: 24.6875rem;
  background-color: #141414;
}
.services .title {
  margin-top: 2.88rem;
}
.services .body-MD-medium {
  width: 33rem;
  color: rgba(255, 255, 255, 0.85);
  font-weight: 400;
  margin-top: 1.5rem;
  line-height: 2rem;
  text-align: center;
}
.services .body-XS-regular {
  text-align: center;
  width: 9.19rem;
}
.services .body-XS-regular:nth-child(3) {
  width: 12.19rem;
}
.services .title {
  color: #ffffff;
}
.services__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3.5rem;
  width: 59rem;
  margin-top: 2.5rem;
}
.services__item {
  width: 100%;
  height: 20.125rem;
  gap: 1.125rem;
  border-radius: 0.25rem;
  background: #ffffff;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
}

.reviews {
  gap: 2.5rem;
}
.reviews--pointer {
  cursor: pointer;
}
.reviews--resize {
  width: 4rem;
  height: 4rem;
}
.reviews--flip {
  transform: scaleX(-1);
}
.reviews__content {
  gap: 1.9375rem;
}
.reviews__list {
  gap: 1.5rem;
}
.reviews__item {
  width: 28.3125rem;
  height: 26.0625rem;
  gap: 1.5rem;
  border-radius: 0.25rem;
  border: 1px solid #c4c4c4;
}
.reviews__item .body-MD-regular {
  text-align: center;
  width: 25rem;
}
.reviews__item img {
  cursor: default;
}

.stats {
  align-items: stretch;
  width: 100%;
  padding: 4rem 0rem;
  gap: 10rem;
  background: #ffe4c6;
}
.stats h2 {
  font-size: 2.5rem;
}
.stats__item {
  text-align: center;
}

.contactUs {
  gap: 2.5rem;
}
.contactUs__content {
  padding: 2.5rem 3.5rem;
  gap: 5.4375rem;
  border-radius: 0.25rem;
  background: #ffffff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);
}
.contactUs__content form {
  align-items: flex-start;
  gap: 2.5rem;
}
.contactUs__content form button {
  width: 16rem;
  padding: 0.75rem 1.5rem;
}
.contactUs__inputs {
  gap: 1.5rem;
}
.contactUs__inputs input, .contactUs__inputs textarea {
  width: 25.3125rem;
  height: 3.75rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid #c4c4c4;
  background: #fbfbfb;
}
.contactUs__inputs textarea {
  position: relative;
  height: 7.625rem;
}
.contactUs::after {
  content: '';
  position: absolute;
  left: 15rem;
  margin-top: 36rem;
  z-index: -1;
  width: 90rem;
  height: 32.75rem;
  background: #141414;
}

.footer {
  width: 100vw;
  margin-top: 2.5rem;
  gap: 5rem;
}
.footer__contacts {
  gap: 0.5rem;
}
.footer .body-MD-regular:nth-child(1) {
  color: #ffffff;
}
.footer .body-MD-regular:nth-child(2) {
  color: #fe8400;
}
.footer__menu {
  justify-content: space-between;
  width: 69.875rem;
}
.footer__social {
  gap: 1.5rem;
}
.footer__social img {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
